/.idea/
/res/

/relazione_m/relazione.aux
/relazione_m/relazione.log
/relazione_m/relazione.toc
/relazione_m/relazione.synctex.gz
relazione_m/temp/relazione.aux
relazione_m/temp/relazione.fdb_latexmk
relazione_m/temp/relazione.fls
relazione_m/temp/relazione.log
relazione_m/temp/relazione.pdf
relazione_m/temp/relazione.synctex.gz
relazione_m/temp/relazione.toc
