/*
Il foglio di stile è strutturato come segue:
    - definizioni senza contesto
    - contesto typography
    - contesto tabs
    - contesto sidebar
    - contesto search
    - contesto content
    - contesto sitebar
    - contesto admin

Box shadow:
    quelle che ho usato fin'ora seguono questo schema (fonte luce leggermente spostata verso alto a sinistra)

    -1px 0 0 0 rgba(0,0,0,0.12) // ombra di sinistra, definita e lieve
    0 -1px 0 0 rgba(0,0,0,0.12) // ombra in alto, definita e lieve
    1px 0 1px 0 rgba(0,0,0,0.2) // ombra a destra, sfocata e strong
    0 1px 1px 0 rgba(0,0,0,0.2) // ombra sotto, sfocata e strong

    alcuni "speciali" hanno in aggiunta delle ombre più o meno traslate / sfocate

    altri usati sono quelli del material design
*/

/*
TODO color rgba al posto di hex per fare opacity
*/

body {
    /*
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    la font size non può essere questa perché sullo schermo del portatile diventa enorme*/
    /* font-size: 15px; la font size non può essere definita in pixel */
    display: flex;
    /* flex-direction: column; eliminato perché default */
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    margin: 0;
    background: whitesmoke;
    flex: 1 1 auto;
}

.accent-color {
    /*background: #afdac1;*/
    background: #2196F3;
    /*background: #1E88E5;*/
    color: white;
}

.primary-color {
    /*background: #00260b;*/
    background: #1e2129;
    color: white;
}

input {
    border-style: none;
    background-color: transparent;
    outline: none;
    padding: 0.75em;
    border-bottom: 3px solid #2196F3;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

input:focus  {
    background: #D3EAFD;
}

#container {
    display: flex;
    flex-flow: row;

    height: 100%;
    width : 100%;
}

button, .button, a {
    background: white;
    color: black;
    text-decoration: none;
    border-style: none;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    font: inherit; /* altrimenti non vede il font dato*/
    box-shadow:
            0 3px 1px -2px rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	display: block;
    width: fit-content;
    margin: 2px;
}

button:active, .button:active, a:active, a:visited {
    background: #D3EAFD;
    color: black;
    box-shadow:
            0 3px 1px -2px rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);
}

button:hover, .button:hover, a:hover {
    background: #d0d0d0;
    box-shadow:
            0 3px 1px 0 rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);
}

button.disabled, .button.disabled, a.disabled,
button.disabled:hover, .button.disabled:hover, a.disabled:hover,
button.disabled:active, .button.disabled:active, a.disabled:active
{
    background: inherit;
    color: inherit;
    cursor: default;
    position: relative;
    z-index: 1; /* disabilitati sovrastano gli abilitati*/
    box-shadow: none;
}

.screen-reader-hint {
    display: none;
}

/* #typography */
.title {
    padding-left: 1em;
}

.subtitle {
    opacity: 0.8;
    font-size: 0.75em;
}

.text-truncate {
    text-overflow: ellipsis;
}

/* #end typography */

/* #tabs*/

#menu-tabs {
    display: flex;
    align-items: center;
}

.tab-header {
    display: inline-flex;
    /* animazione difficile da rendere con discorso disabled e via dicendo TODO desiderabile, non necessario
    position: relative;
    left: 0;
    transition: left 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

     */
    transition: all 600ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tab-header a, .tab-header a:active {
    border-radius: 0;
    box-shadow: none;
}

.tab-header a:hover {
    background: #2196F3;
    color: white;
    border-bottom: 3px solid #2196F3;
}

.tab-header a.disabled, .tab-header a.disabled:hover {
    color: inherit;
    background: inherit;
    border-bottom: 3px solid #2196F3;
}

/*TODO forse aggiungere un'iconcina nell'after quando selezionato - desiderabile non necessario*/


/*
.tab-header:hover {
    left: 5px;
    z-index: 2;
    box-shadow:
            0 -3px 5px 0 rgba(0,0,0,.2),
            0 -2px 2px 0 rgba(0,0,0,.14),
            0 -1px 1px 0 rgba(0,0,0,.12);
}

 */

/* #end tabs */

/* #begin sidebar */
#sidebar {
    padding-right: 1.5em;
    box-shadow:
            1px 0 1px 0 rgba(0,0,0,0.2),
            0 1px 1px 0 rgba(0,0,0,0.2),
            /*basicz*/
            2px 0 2px 0 rgba(0,0,0,0.12),
            4px 0 5px 0 rgba(0,0,0,0.1);
            /*additionalz*/
	position: relative;
    z-index: 2;
    background: #D3EAFD;
}

#sidebar {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

#sidebar li {
    margin-bottom: 2em;
}

#sidebar li a {
    background: #D3EAFD;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    transition: background-color cubic-bezier(0.25, 0.8, 0.25, 1) 400ms;
}

#sidebar li a:hover {
    background: #2196F3;
}

#sidebar li a.disabled {
    border-left: 3px solid #2196F3;
}


/* #end sidebar */

/* #begin search */
#search-bar {

    height: fit-content;
    width: 100%;
    flex: 0  1  auto;

    padding: 1.5em;
    box-shadow:
            0 1px 1px 0 rgba(0,0,0,0.2),
            /*basic*/
            0 2px 3px 0 rgba(0,0,0,0.12),
            0 4px 5px 0 rgba(0,0,0,0.1);
            /*added*/
}

#search-form {
    position: relative;
    display: flex;
    background: white;
    border-radius: 2em;
    padding: 0.5em 1em;
    box-shadow:
            0 1px 1px 0 rgba(0,0,0,0.2),
                /*basic*/
            0 2px 3px 0 rgba(0,0,0,0.12),
            0 4px 5px 0 rgba(0,0,0,0.1);
    /*added*/
}

#search-form label {
    font-size: 0.9em;
}

#search-button {
    border-radius: 2em;
    box-shadow: none;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
    /* TODO tornare sul bottone di ricerca*/
}

/* #end search */

/* #begin content */
#content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}


#feed {
    margin: 0 2em;
    background: white;
    width: 100%;
    box-shadow:
            0 3px 1px 0 rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);
}

#feed-header {
    background: #D3EAFD;
}

#feed-content {
    display: flex;
    flex-wrap: wrap;
    background: white;

}

.fixed-card {
	min-width: 300px;
    width: 20vw;
    border-radius: 0.4em;
    margin: 0.5em;
    overflow: hidden;
    box-shadow:
            0 3px 1px 0 rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);
}

.card img {
    width: 100%;
    border-radius: 0.4em 0.4em 0 0;
}

.card-header {
	padding: 0.5em;
}

.card-content {
    background: white;
    border-radius: 0 0 0.4em 0.4em;
    padding: 0.5em;
}

/* #end content */

/* #sitebar */
#sitebar {

    display: flex;
    flex-direction: column;
    background-image: url('/res/Images/banner.jpg');
}


#actions {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-hover {
    position: relative; /* altrimenti la width dell'absolute figlio non funziona */
}

.dropdown-content {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
}

.dropdown-hover:hover .dropdown-content, .dropdown-hover:active {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow:
            0 4px 10px 0 rgba(0,0,0,0.2),
            0 4px 20px 0 rgba(0,0,0,0.19);
    z-index: 10;
    transition: all 0.5s ease-out;
    opacity: 1;
}

.dropdown-content a {
    position: relative;
    transition: inherit;
    border-radius: 0;
    box-shadow: none;
    width: auto;
    margin: 0;
}

#logged-out-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logged-out-action {
    margin-right: 0.5em;
}

#logo {
    height: 60px;
    width: 60px;
    padding: 5px;
    background: transparent;
    box-shadow: none;
}

#logo img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#title {
    /* TODO Pezza per il titolo, problema con il constrasto*/
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}
/* #end sitebar */

/* #breadcrumb */
/* La breadcrumb ha bisogno di una altezza fissa per il layout a "squame"*/
#breadcrumb {
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 1;
    height: 40px; /*se cambia questa devono cambiare anche i sottostanti*/
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),
                0 2px 2px 1px rgba(0, 0, 0, 0.1);

}

#breadcrumb span {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.breadcrumb-item, #home-crumb {
    position: relative; /*per il relative dell'after*/
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #2196F3;
    color: white;
    min-width: 200px;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.breadcrumb-item {
    box-shadow: none;
    border-radius: 0;
}

a.breadcrumb-item:hover {
    box-shadow: none;
    border-radius: 0;
}

.breadcrumb-item:after, #home-crumb:after {
    content: ""; /* altrimenti non si visualizza */
    height: 40px; /*deve essere uguale alla height della breadcrumb*/
    width: 40px; /*deve essere uguale alla height della breadcrumb*/
    transform: scale(.707) rotate(45deg); /* scala la dimensione di sqrt(2)*/
    /*così si crea un rombo con assi lunghi 40px*/
    right: -20px; /*deve essere uguale metà height della breadcrumb, così si posiziona a cavallo tra due crumbs*/
    background: #2196F3;
    position: absolute;
    display: inline-block;
    box-shadow: 1px -1px rgba(0,0,0,0.25);
    z-index: 1;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrumb-item:hover, .breadcrumb-item:hover:after {
    background: white;
    color: black;
}

.breadcrumb-item:last-child:hover {
    background: transparent;
    color: white;
}

.breadcrumb-item:last-child:after {
    content: none; /*elimina l'ultimo >*/
}

#home-crumb {
    min-width: 115px;
}

/* #end breadcrumb */
/* #footer */
#footer {
    height: fit-content;
    padding: 1em;
    width: 100%;
    bottom: 0;
}

/* #end footer */

/* #login */

#login-page {
    width: 100%;
    background-image: url("/res/Images/loginwallpaper.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form {
    background: white;
    color: black;
    width: 20vw;
    min-width: 300px;
    height: fit-content;
    min-height: 600px;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: stretch;
}

#login-form form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#login-form form input {
    margin: 10px;
    text-align: center;
}

#login-form img {
    width: 75%;
    align-self: center;
}

#login-page button {
    align-self: center;
}

#login-form a {
    display: inline;
}
/* #end login*/

/* #admin */
#admin-content {
    display: flex;
}

#admin-content #content {
    margin-left: 0;
    padding-left: 2em;
}

#table-container {
    width: 100%;
}
/* #end admin*/