/*
Il foglio di stile è strutturato come segue:
    - definizioni senza contesto
    - contesto typography
    - contesto tabs
    - contesto search
    - contesto content
    - contesto sitebar
    - contesto adminPanel

    colori: primary - blue navy (30,33,41)
    accent-1:   (0, 139, 253)
    accent-0.3: (179, 220, 253)
    accent-0.6: (102, 185, 253)
    accent-0.9: (26, 150, 253)
*/

body {
    /*
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    la font size non può essere questa perché sullo schermo del portatile diventa enorme*/
    /* font-size: 15px; la font size non può essere definita in pixel */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    background: url('../res/Images/6-opaco.jpg') whitesmoke;
}

.accent-color {
    background: rgb(26, 150, 253); /* #4D7B90 */
    color: white;
}

.primary-color {
    background: rgb(30,33,41);
    color: white;
}

input, textarea {
    border-style: none;
    background-color: transparent;
    outline: none;
    padding: 0.75em 0 0.75em 0;
    width: 100%;
    border-bottom: 3px solid rgb(102, 185, 253);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

input:focus, textarea:focus {
    background: rgba(33, 150, 243, 0.3);
}

#container {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
}

button, .button, a {
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    font: inherit; /* altrimenti non vede il font dato*/
    border: 1px solid rgba(0,0,0,.12);
    cursor: pointer;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
    width: fit-content;
    margin: 2px;
}

button:active, .button:active, a:active, a:visited {
    background: #D3EAFD;
    color: black;
}

button:hover, .button:hover, a:hover {
    background: #d0d0d0;
}

button.disabled, .button.disabled, a[aria-selected=true], button[aria-selected=true],
button.disabled:hover, .button.disabled:hover, a[aria-selected=true]:hover, button[aria-selected=true]:hover,
button.disabled:active, .button.disabled:active, a[aria-selected=true]:active, button[aria-selected=true]:active,
a.disabled
{
    background: inherit;
    color: inherit;
    cursor: default;
    position: relative;
    box-shadow: none;
}

.selected-button, .selected-button:hover, .selected-button:active  {
    background: rgba(0, 100, 0, 0.2);
    color: black;
    cursor: default;
    position: relative;
    z-index: 1; /* disabilitati sovrastano gli abilitati*/
    box-shadow: none;
}

.screen-reader-hint {
    visibility: hidden;
    position: absolute;
}

/* #typography */

p {
    text-align: justify;
    margin-left: 40px;
}

.title {
    padding-left: 1em;
}

.subtitle {
    font-size: 0.75em;
}

.text-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 2em;
    margin-left: 0;
    margin-right: 1em;
}
/* #end typography */

/* #tabs*/

#menu-tabs {
    display: flex;
    align-items: center;
}

#tab-header {
    background: rgba(33,150,243, 0.3);
    align-self: stretch;
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: center;
    margin: 0 2em;
}

form.tab-label {
    display: inline;
    background: transparent;
}

a.tab-label, a.tab-label:active, .tab-label button, .tab-label button:active {
    background: transparent;
    border-radius: 0;
    border-style: none;
    box-shadow: none;
}

a.tab-label:hover, .tab-label button:hover {
    background: rgb(33,150,243);
    color: white;
}

a.tab-label[aria-selected=true],
a.tab-label[aria-selected=true]:hover,
.tab-label button[aria-selected=true],
.tab-label button[aria-selected=true]:hover
{
    color: inherit;
    background: transparent;
    border-bottom: 3px solid rgb(102, 185, 253);
}


#tablist {
    width: 100%;
    background: rgb(179, 220, 253);
}

#tablist a {
    background: rgb(179, 220, 253);
    border-style: none;
    border-bottom: 3px solid rgb(179, 220, 253);
    border-radius: 0;
    transition: background-color 400ms ease-out, border-bottom-color 400ms ease-out;
}

#tablist a:hover {
    background: rgb(102, 185, 253);
    border-bottom: 3px solid rgb(102, 185, 253);
}

#tablist a.disabled, #tablist a.disabled:hover {
    cursor: default;
    background: rgb(179, 220, 253);
    border-style: none;
    border-bottom: 3px solid rgb(102, 185, 253);
}

/* #end tabs */

/* #begin search */
.single-input-form {
    margin: 0;
    background: transparent;
    border-style: none;
    display: flex;
}

.single-input-form > fieldset {
    border-radius: 0.5em 0 0 0.5em;
    margin: 0;
    border-left: 1px solid rgba(0,0,0,.12);
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-right: none;
    background: white;
}

.single-input-form input, .single-input-form textarea {
    padding-left: 0.75em;
}

.single-input-form button {
    border-radius: 0 0.5em 0.5em 0;
    margin: 0;
    border: 1px solid rgba(0,0,0,.12);
    transition: background 400ms ease-out;
}

/* #end search */

/* #begin content */
#content {
    flex: 1 1 auto;
    background: white;
    margin: 0 1em 0 1em;
    border-left: 1px solid rgba(0,0,0,.12);
    border-right: 1px solid rgba(0,0,0,.12);
}

#browser-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: white;
    margin: 0 1em 0 1em;
    border-left: 1px solid rgba(0,0,0,.12);
    border-right: 1px solid rgba(0,0,0,.12);

}

#feed {
    margin: 0 2em;
    background: white;
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
}

.card {
    height: fit-content;
	min-width: 300px;
    width: 20vw;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.12);
}

.card dt h2 a {
    color: inherit;
    box-shadow: none;
    padding: 0.5em;
    width: calc(100% - 2em);
}

.card > img {
    width: 100%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.img-overflow-container {
    max-height: 175px;
    height: fit-content;
    overflow-y: hidden;
}

.img-overflow-container.bird-card{
    max-height: 500px;
    height: fit-content;
    overflow-y: hidden;
}

.bird-description{

    flex: auto;

    padding-left: 7em;
    padding-top: 1em;
}


.img-overflow-container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card dt {
	padding: 10px;
}

.card dd {
    background: white;
    border-radius: 0 0 10px 10px;
}

ul {
    list-style: none;
}

/* #end content */

/* #sitebar */
#sitebar {
    background: rgb(30,33,41);
}

.mobile-actions {
    display: none;
}

#actions {
    padding-left: 1em;
    padding-right: 1em;
    background-image: url('../res/Images/banner.jpg');
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 60px;
    width: 60px;
    padding: 5px;
    background: transparent;
    box-shadow: none;
}

#logo img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#title {
    width: 100%;
    background: rgb(30,33,41);
    text-align: center;
    color: white;
}

#title h1 {
    margin-top: 0;
}

.dropdown-hover {
    position: relative; /* altrimenti la width dell'absolute figlio non funziona */
}

.dropdown-content {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
}

.dropdown-hover:hover .dropdown-content, .dropdown-hover:active {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow:
            0 4px 10px 0 rgba(0,0,0,0.2),
            0 4px 20px 0 rgba(0,0,0,0.19);
    z-index: 10;
    transition: all 0.5s ease-out;
    opacity: 1;
}
/* #end sitebar */

/* #breadcrumb */
/* La breadcrumb ha bisogno di una altezza fissa per il layout a "squame"*/
#breadcrumb {
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 1;
    height: 40px; /*se cambia questa devono cambiare anche i sottostanti*/
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),
                0 2px 2px 1px rgba(0, 0, 0, 0.1);

}

#breadcrumb span {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.breadcrumb-item, #home-crumb {
    position: relative; /*per il relative dell'after*/
    display: flex;
    align-items: center;
    text-decoration: none;
    background: rgb(26, 150, 253);
    color: white;
    min-width: 200px;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.breadcrumb-item {
    border-style: none;
    border-radius: 0;
    margin: 0;
}

a.breadcrumb-item:hover {
    box-shadow: none;
    border-radius: 0;
}

a.breadcrumb-item:visited {
    background: initial;
    color: inherit;
}

a.breadcrumb-item:visited:hover {
    color: initial;
}

.breadcrumb-item:after, #home-crumb:after {
    content: ""; /* altrimenti non si visualizza */
    height: 40px; /*deve essere uguale alla height della breadcrumb*/
    width: 40px; /*deve essere uguale alla height della breadcrumb*/
    transform: scale(.7) rotate(45deg); /* scala la dimensione di sqrt(2)*/
    /*così si crea un rombo con assi lunghi 40px*/
    right: -20px; /*deve essere uguale metà height della breadcrumb, così si posiziona a cavallo tra due crumbs*/
    background: rgb(26, 150, 253);
    position: absolute;
    display: inline-block;
    border-top: 1px solid white;
    border-right: 1px solid white;
    z-index: 1;
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrumb-item:hover, .breadcrumb-item:hover:after {
    background: white;
    color: black;
}

.breadcrumb-item:last-child:hover {
    background: transparent;
    color: white;
}

.breadcrumb-item:last-child:after {
    content: none; /*elimina l'ultimo >*/
}

#home-crumb {
    min-width: 115px;
    z-index: 1;
}

/* #end breadcrumb */
/* #footer */
#footer {
    height: fit-content;
    position: relative;
    padding: 1em;
    bottom: 0;
}
/* #end footer */

/* #login */

#login-page {
    width: 100%;
    background-image: url("../res/Images/loginwallpaper.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-container {
    background: white;
    color: black;
    width: 20vw;
    min-width: 300px;
    height: fit-content;
    min-height: 600px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: stretch;
}

#form-container form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-style: none;
}

#form-container form input {
    text-align: center;
}

#form-container img {
    width: 75%;
    align-self: center;
}

#login-page button {
    align-self: center;
}

#login-page p {
    margin-left: 0;
}

#password-login {
    display: flex;
}

#form-container a {
    display: inline;
}
/* #end login*/

/* #begin form */

/* #begin form */
.form-card {
    border-style: none;
    margin: 0.5em auto;
}

.form-card h1 {
    margin: 0;
}

.form-card .card-header {
    padding: 0.5em;
    margin: 0;
    border-top: 1px solid #1e2129;
    border-left: 1px solid #1e2129;
    border-right: 1px solid #1e2129;
}

.form-card fieldset {
    border-style: none;
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,.12);
    margin: 0;
}

.form-card form {
    border-left: 1px solid rgba(0,0,0,.12);
    border-right: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-radius: 0 0 10px 10px;
}

.form-card .card-footer {
    border-style: none;
    border-top: 1px solid rgba(0,0,0,.12);
    border-radius: 0 0 10px 10px;
    width: 100%;
    margin: 0;
}

.form-card div.card-footer {
    display: block;
}

.form-card button.card-footer {
    display: table-cell;
    vertical-align: middle;
}

.form-card .form-field {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

fieldset {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0.25em;
    margin: 0.5em;
}

/* #end form*/

/* #dropdown  */
#dropdown-content {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 10;
}

#dropdown-content:target {
    right: 0;
    display: flex;
    align-items: stretch;
}

#dropdown-content #close-dropdown {
    flex: 1 1 80%;
    margin: 0;
    border-radius: 0;
    background: black;
    opacity: 0.8;
    color: white;
    text-align: center;
    transition: opacity 600ms ease-out;
}

#dropdown-content #close-dropdown:hover {
    opacity: 0.6;
}

#dropdown-content ul.menu {
    flex: 1 1 20%;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.menu li {
    border-bottom: solid 1px #D3EAFD;
}

ul.menu a {
    background: inherit;
    color: inherit;
    border-style: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;

}

ul.menu a:hover, ul.menu a.disabled {
    background: #D3EAFD;
    color: black;
}

/* #end dropdown */

/* #begin table */

#table-container {
    width: 100%;
    background: white;
    overflow-x: scroll;
}

#table-container table {
    width: 100%;
}

tr:nth-child(even) {
    background: rgb(179, 220, 253);
}
th, td {
    padding: 0.5em;
    text-align: center;
    max-width: 200px;
    max-height: 1.5em;
}

th.action, td.action {
    width: 100px;
}
/* #end table*/

/* #begin image slideshow */
.image-slideshow, .image-slideshow:target ~ #image-0 {
    display: none;
    background-image: url('../res/Images/6-opaco.jpg');
}

#image-0, .image-slideshow:target {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
}

.image-slideshow a {
    max-width: 130px;
}

.image-slideshow img {
    max-height: 500px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.12);
}

.analog-container {
    max-width: 540px;
    padding: 10px;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.12);
}
/* #end image slideshow */

/* #begin comments */
ul#comments {
    align-self: stretch;
    list-style: none;
}

.profile-mini {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    align-self: center;
    vertical-align: middle;
}

.profile-mini img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#like-actions {
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}

#liked, #liked:visited {
    background: darkgreen;
    color: white;
}

#disliked, #disliked:visited {
    background: darkred;
    color: white;
}

#liked:hover, #disliked:hover {
    background: initial;
    color: initial;
}

ul#comments li {
    padding-left: 1em;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

#post-title {
    margin: 0 40px 40px;
}
/* #end comments */

/* #begin user */

.user-layout {
    display: flex;
}

#user-posts {
    border-left: 1px solid rgba(0,0,0,.12);
    width: 100%;
}

#user-posts img {
    margin: auto;
    display: block;
}

#user-details{
    height: fit-content;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0; /* per position sticy */
}

#user-details .header {
    padding: 1em;
    height: fit-content;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#user-details .content {
    padding: 1em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#user-details ol{
    list-style-type:none;
    padding: 0em;
}

#user-details a {
    width: 60%;
}

.profile-big {
    width: 168px;
    height: 168px;
    border-radius: 84px;
    overflow: hidden;
    display: inline-block;
    align-self: center;
    vertical-align: middle;
    border: 4px solid white;
    box-shadow:
            0 3px 1px 0 rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);
}

.single-button-form {
    border-style: none;
}

.profile-big img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#profile-form {
    background: transparent;
}

#profile-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
}

#profile-form input:not(:valid) + button {
    display: none;
}

/*
#friendships {
    flex: 1 1 15%;
}

#friendships .card {

    min-width: unset;
}*/
/* #end user*/

/* #begin information page*/
#information-page {
    display: flex;
    align-self: stretch;
}

#information-side {
    float: right;
    padding: 1em;
}

#information-side form {
    position: sticky;
    top: 0.5em;
    border-style: none;
}

#information-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.preview {
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: center;
    margin-right: 2em;
}

#information-content ul {
    list-style: inside;
}

#information-content ul > li::marker {
    content: attr(data-mark);
}

/* #end information*/

/* #begin admin */
#admin-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#admin-content h1 {
    display: inline;
    margin-left: 2em;
}

#admin-content > a {
    margin-right: 2em;
    font-size: 1.2em;
}

/* #end admin */

#success, #failure {
    padding-left: 2em;
}

#success h1 {
    color: darkgreen;
}

#failure h1 {
    color: darkred;
}

.ordinatore {
    cursor: pointer;
}

.form-field label {
    display: block;
}

.form-field > input {
    align-self: stretch;
}

.form-field:not([data-error=""]):after {
    content: attr(data-error);
    font-size: 0.8em;
    color: darkred;
    display: block;
}

.form-field:not([data-error=""]) input {
    background: rgba(100, 0, 0, 0.2);
    border-bottom: 3px solid darkred;
}