body {
    margin: 0;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 15cm;
    object-fit: cover;
}

a {
    display: inline-block;
}

a:not([href^="#"]):after {
    content: "[" attr(href) "]";
}

a[href^="#"] {
    text-decoration: none;
    color: black;
}

a[href^="#"]:visited {
    text-decoration: none;
    color: black;
}
a[href^="#"]::first-letter {
    text-transform: lowercase;
}


#logo {
    display: none;
}

#sitebar {
    display: none;
}

.card {

    overflow: auto;
}

#tab-header {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#tab-header form:not([action]) {
    display: block;
}

#tab-header form:not([action]) button {
    background: white;
    color: black;
    border-style: none;
    font-size: 1.5em;
    font-family: inherit;
}


#tab-header form:not([action]) button:before {
    content: "Risultati della ricerca per ";
}



a.tab-label[aria-selected=false] {
    display: none;
}

a.tab-label[aria-disabled=true] {
    display: block;
}

dt {
    border-top: 1px solid black;
}

.card img {
    float: right;
}

#footer {
    display: none;
}

.breadcrumb-item:after, #home-crumb:after {
    content: ">";
    padding: 0.25em;
}

.icon-button {
    display: none;
}

td.action, th.action {
    display: none;
}

form {
    display: none;
}

#information-content ul {
    list-style: inside;
}

#information-content ul > li::marker {
    content: attr(data-mark);
}

.profile-mini img {
    display: none;
}

#comments {
    list-style: none;
}

#tablist {
    display: none;
}