body{
    background-color: rgb(253,248,249);
}
h1 {
    text-align: right;
    font-size: 7em;
    margin-bottom: 0.1em;

}
h2 {
    text-align: right;
    font-weight:bold;

    margin-top: 0.1em;
}

.site {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}


.sketch {

    padding-top: 10%;
    height: 400px;
    min-width: 400px;

    background-image: url("/html/res/tenor.gif");
    background-repeat: no-repeat;
    background-position: center;

    order: 2;
}
.errorMessage{
    display: flex;
    flex-direction: column;
}

a{
    align-self: flex-end;
}

p {
    text-align: right;
    width: 50%;

    align-self: flex-end;
}